.services-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia, serif;
}

.intro,
.services,
.why-choose,
.booking {
  margin-bottom: 2em;
}

.intro {
  width: 100%;
  height: 50vh;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/image1.jpg);
  background-position: center;
  background-size: cover;
}

.intro h2 {
  font-size: 3em;
  background-color: #000000b0;
  padding: 10px;
  border-radius: 10px;
}

.intro p {
  font-size: 1.5em;
  margin-top: 10px;
}

.services {
  width: 95%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services h2 {
  color: #de9f00;
  border-bottom: 2px solid #de9f00;
  padding-bottom: 0.3em;
  font-size: 3em;
  font-family: Georgia, serif;
}

.video1 {
  width: 600px;
  height: 500px;
  object-fit: cover;
}

.video1 video {
  width: 100%;
  border-radius: 10px;
  border: white, solid 3px;
}

.service-para {
  width: 700px;
}

.service {
  margin-bottom: 1.5em;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
}

.service h3 {
  color: #ffffff;
  font-weight: 900;
  font-size: 25px;
  font-family: Georgia, serif;
}

.service ul {
  list-style-type: none;
  padding-left: 0;
  font-size: larger;
}

.service li {
  color: white;
  margin: 0.5em 0;
  padding: 0.5em;
  /* border-left: 4px solid #4CAF50; */
}

.service2 {
  margin-bottom: 1.5em;
  padding: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video2 {
  width: 600px;
  height: 400px;
  background-image: url(../assets/carousel-3.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: white, solid, 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video2 h4 {
  color: white;
  font-size: 25px;
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  font-family: Georgia, serif;
}

.service2 h3 {
  color: #ffffff;
  font-weight: 900;
  font-size: 30px;
  font-family: Georgia, serif;
  text-align: center;
}

.service2 ul {
  width: 93vw;
  list-style-type: none;
  padding-left: 0;
  align-items: center;
  font-size: larger;
}

.service2 li {
  color: white;
  margin: 0.5em 0;
  padding: 0.5em;
  /* border-left: 4px solid #4CAF50; */
}

.service-para2 {
  width: 93vw;
  text-align: center;

}

.video2 button {
  border-radius: 10px;
  background-color: #fec700;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 32px;
  font-family: Georgia, serif;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(255, 253, 253, 0.827);
}

.video2 button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.video2 button:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.video2 button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.video2 button:hover:after {
  opacity: 1;
  right: 10px;
}

.why-choose {
  width: 95%;
  color: white;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia, serif;
  text-align: center;
}

.why-choose h2 {
  font-size: 2.5rem;
  font-family: Georgia, serif;
}

.why-choose ul {
  list-style-type: none;
  padding-left: 0;
  font-size: larger;
}

.why-choose li {

  margin: 0.5em 0;
  padding: 0.5em;
  /* border-left: 4px solid #4CAF50; */
}

.booking {
  width: 90%;
  color: white;
  background-color: #000;
  padding: 38px;
  display: flex;
  font-family: Georgia, serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.booking h2 {
  font-size: 2.5rem;
}

.booking p {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: larger;
}

.booking .button {
  display: inline-block;
  padding: 0.5em 1em;
  color: white;
  background-color: #4CAF50;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}


.booking .button {
  border-radius: 10px;
  background-color: #fec700;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 32px;
  font-family: Georgia, serif;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(255, 253, 253, 0.827);
}

.booking .button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.booking .button:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.booking .button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.booking .button:hover:after {
  opacity: 1;
  right: 10px;
}